{% extends 'base_auth.html' %}

{% block title %}
<title>Добавление товара</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Новый товар</h1>
    <form method="post">
        <input type="text" class="form-control" name="title"  id="title" placeholder="Название товара"><br>
        <input type="text" class="form-control" name="price"  id="price" placeholder="Цена товара"><br>
        <input type="text" class="form-control" name="text"  id="text" placeholder="Описание товара"><br>
        <button class="btn btn-success" type="submit">Добавить</button>
    </form>
</div>
{% endblock %}
