{% extends 'base.html' %}

{% block title %}
<title>Главная</title>
{% endblock %}

{% block body %}
<!----------------------------------------->
<form method="POST">
  <div class="search-wrapper">
      <div class="input-holder">
          <input type="text" class="search-input" placeholder="Поиск по сайту" />
          <button class="search-icon" onclick="searchToggle(this, event);"><span></span></button>
      </div>
      <span class="close" onclick="searchToggle(this, event);"></span>
      <div class="result-container">

      </div>
  </div>
</form>
<!----------------------------------------->
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Популярные товары</h1>
    </div>
  
  <div class="container">
    <div class="card-deck mb-3 text-center">
    {% for el in data %}
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{ el.title }}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{ el.price }} <small class="text-muted">руб.</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Some text</li>
          <li>2 GB of storage</li>
          <li>Email support</li>
          <li></li>
        </ul>
        <a href="/buy/{{ el.id }}" class="btn btn-lg btn-block btn-outline-primary">Купить</a>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
