{% extends 'base.html' %}

{% block title %}
<title>Авторизация</title>
{% endblock %}

{% block body %}
<div class="container">
<h1>Авторизация</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<form method="post">
    <input type="text" class="form-control" name="login"  id="login" placeholder="Логин"><br>
    <input type="text" class="form-control" name="password"  id="password" placeholder="Пароль"><br>
    <button class="btn btn-success" type="submit">Войти</button>
</form>
</div>
{% endblock %}
