<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Личный кабинет</title>
</head>

<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">My shop</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/">Главная</a>
    <a class="p-2 text-dark" href="/about">О магазине</a>
    <a class="p-2 text-dark" href="/create">Добавить товар</a>
  </nav>
  <nav  class="px-md-4">
  <a class="btn btn-outline-danger" href="/logout">Выйти</a>
</nav>
</div>

<body>
  <div class="container">
    <h1>Личный кабинет</h1>
    <div class="flex-row">
      <div id="ember701" class="col-xs-12 profile-header-widget ember-view"><span id="ember702" class="profile-header-widget__avatar user-avatar ember-view"><a href="/users/177817501?auth=login" id="ember703" class="user-avatar__link ember-link active ember-view">        <img src="https://stepik.org/users/177817501/76349a91bbf4b515a1490498c67745f7a67b575f/avatar.svg" class="user-avatar__img " style="width: 100px; height: 100px;">

<!---->
</a></span>

<div class="profile-header-widget__info">
  <div class="profile-header-widget__name-wrapper">
    <h1 class="st-h1 profile-header-widget__name">{{ user.name }} {{ user.surname }}</h1>
    <h1 class="st-h1 profile-header-widget__name">{{ user.email }}</h1>
    <div>
      {% for item in items %}
          <p>{{ item.title }}</p>
          <pre>{{ item.price }}</pre>
      {% endfor %}
    </div>
    <div id="ember704" class="user-subscribe-button ember-view"><!---->
<!----></div>
  </div>
</div>
</div>
    </div>
</body>


  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">© 2020</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
          <li><a class="text-muted" href="#">Team feature</a></li>
          <li><a class="text-muted" href="#">Stuff for developers</a></li>
          <li><a class="text-muted" href="#">Another one</a></li>
          <li><a class="text-muted" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
          <li><a class="text-muted" href="#">Another resource</a></li>
          <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
</div>

</body>
</html>